html>body>main
{
  color: var(--azul-muy-oscuro);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html>body>main>section.productos>ul>li
{
  margin: 0 0 0 90px;
}

html>body>main>section.productos>div.card
{
  position: relative;
  display: inline-block;
  width: 200px;
  border: solid 1px var(--azul-muy-oscuro);
  margin: 10px;
  border-radius: 10px;
}

html>body>main>section.productos>div.card>span.promocion
{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  left: 0.5rem;
  width: 80px;
  height: 28px;
  z-index: 10;
  background: var(--azul-brillante-transparente);
  color: var(--azul-muy-oscuro);
  border-radius: 0.25rem;
}

html>body>main>section.productos>div.card>img
{
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

html>body>main>section.productos>div.card>h3
{
  margin: 10px;
}

html>body>main>section.productos>div.card>p
{
  margin: 10px;
}

html>body>main>section.productos>div.card>button
{
  border: solid 3px var(--azul-muy-oscuro);
  color: white;
  background-color: var(--azul-oscuro);
  margin: 10px;
  width: 90%;
  height: 39px;
  font-size: medium;
  border-radius: 10px;
}


html>body>main>form
{
  margin: 10px;
  border: 1px solid var(--azul-muy-oscuro);
  width: 400px;
  border-radius: 10px;
}

html>body>main>form>p
{
  margin: 0 0 10px 0;
  background-color: lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px var(--azul-muy-oscuro);
  text-align: center;
}

html>body>main>form>label
{
  margin: 10px 0px 10px 10px;
}

html>body>main>form>input:nth-child(3)
{
  margin: 0 0 10px 0;
  width: 210px;
}

html>body>main>form>input:nth-child(5)
{
  margin: 0 0 0 16px;
  width: 210px;
}

html>body>main>form>label:nth-child(6)
{
  margin: 10px;
}

html>body>main>form>textarea
{
  margin: 0 10px;
  width: 275px;
  height: 330px;
  resize: none;
}

html>body>main>form>button
{
  display: block;
  margin: 0 auto 10px;
  background-color: var(--azul-brillante);
  color: var(--azul-oscuro);
  padding: 0.75rem 1.5rem;
  border-color: var(--azul-brillante);
  border-radius: 0.5rem;
  font-weight: 700;
}

html>body>main>section>ul>li>div.foto-item
{
  display: flex; /* Activa Flexbox */
}

html>body>main>section>ul>li>div.foto-item>p
{
  margin: 0;
  width: 36px;
}
